<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljtao3.dbbase.dao.master.UserRoleDao">
	<resultMap id="BaseResultMap" type="com.ljtao3.dbbase.entity.master.User_Role">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="role_id" property="roleId" />
		<result column="status" property="status" />
	</resultMap>

	<parameterMap id="User_Role" type="com.ljtao3.dbbase.entity.master.User_Role"/>

	<sql id="Base_Column_List">
		id, user_id,role_id
	</sql>

	<select id="getRoleIdsByUserId" resultType="java.lang.Integer" parameterType="map">
		select
		role_id
		from user_role
		where user_id = #{userId}
		and status ='1'
	</select>

</mapper>